.bg{
  background: url('../images/login.png') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.form-container{
  position: relative;
  top: 30vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.jumbotron{
  background-image: url(../images/sr.jpg);
  background-size: cover;
  color: #fff;
  margin: 1;
}

.champ{
  background-image: url('../images/champion.jpeg');
  background-size: cover;
  width: 100%;
  height: 60vh;
  background-position: 40%;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.champion-ezreal{
  background-image: url('../images/ezreal.png');
  background-size: cover;
  background-position: 100%;
  width: 100px;
  height: 100px;
}

.champion-riven{
  background-image: url('../images/riven.png');
  background-size: cover;
  background-position: 100%;
  width: 100px;
  height: 100px;
}

.champion-leesin{
  background-image: url('../images/leesin.png');
  background-size: cover;
  background-position: 100%;
  width: 100px;
  height: 100px;
}

.champion-yasuo{
  background-image: url('../images/yasuo.png');
  background-size: cover;
  background-position: 100%;
  width: 100px;
  height: 100px;
}

.ls-passive{
  background-image: url('../images/ls-passive.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ls-q{
  background-image: url('../images/ls-q.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ls-w{
  background-image: url('../images/ls-w.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ls-e{
  background-image: url('../images/ls-e.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ls-r{
  background-image: url('../images/ls-r.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ys-passive{
  background-image: url('../images/ys-passive.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ys-q{
  background-image: url('../images/ys-q.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ys-w{
  background-image: url('../images/ys-w.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ys-e{
  background-image: url('../images/ys-e.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ys-r{
  background-image: url('../images/ys-r.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.rv-passive{
  background-image: url('../images/rv-passive.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.rv-q{
  background-image: url('../images/rv-q.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.rv-w{
  background-image: url('../images/rv-w.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.rv-e{
  background-image: url('../images/rv-e.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.rv-r{
  background-image: url('../images/rv-r.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ez-passive{
  background-image: url('../images/ez-passive.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ez-q{
  background-image: url('../images/ez-q.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ez-w{
  background-image: url('../images/ez-w.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ez-e{
  background-image: url('../images/ez-e.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ez-r{
  background-image: url('../images/ez-r.png');
  background-size: cover;
  background-position: 100%;
  width: 50px;
  height: 50px;
}

.ezbg{
  color: #fff;
  background-image: url('../images/ez-img.jpg');
  background-size: contain;
}

.rvbg{
  color: #fff;
  background-image: url('../images/rv-img.jpg');
  background-size: contain;
}

.lsbg{
  color: #fff;
  background-image: url('../images/ls-img.jpg');
  background-size: contain;
}

.ysbg{
  color: #fff;
  background-image: url('../images/ys-img.jpg');
  background-size: contain;
}

.font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}